/* General */

body {
    text-align: center;
    background-color: red;
    font-family: 'Permanent Marker', cursive;
}

p {
    margin: 0;
}

.row {
    width: 100%;
    margin: 0;
}

.no-style-link {
    display: flex;
}

/* Main */


.bubble {
    height: fit-content;
    min-height: 749px;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    font-size: 3.3em;
    border: 4px solid black;
    padding: 37px 0;
}

.bubble-tile {
    border-bottom: 2px solid black;
    cursor: pointer;
    user-select: none;
    color: white;
}

.bubble-tile:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.bubble .row {
    border-top: 2px solid black;
}

.track {
    font-size: 0.9em;
    color: rgb(168, 168, 168);
}

.track:hover {
    color: rgb(168, 168, 168);
}

.set-label {
    color: white;
    cursor: auto;
    font-size: 1em;
}

.set-label:hover {
    background-color: unset;
}

/* Header */

header {
    position: fixed;
    top: 0;
    padding: 1em 0;
    background-color: black;
    z-index: 100;
    height: 75px;
}

#logo-link {
    width: 350px;
    max-width: 100%;
    max-height: 100%;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}

/* Audio Player */

#pre-audio {
    user-select: none;
    height: 75px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1em 5%;
    background-color: black;
}

#pre-audio p {
    margin: 0;
    color: white;
    font-size: 2em;
}

#audio-player {
    user-select: none;
    height: 75px;
    position: fixed;
    bottom: 0;
    background-color: black;
    visibility: hidden;
}

#buttons {
    margin-right: 0.5%;
}

.play-button {
    margin: 0 .25em;
    color: red;
    font-size: 3em;
    cursor: pointer;
}

.direction-button {
    color: red;
    font-size: 2em;
    cursor: pointer;
}

#track-info {
    margin-right: 160px;
    display: flex;
    align-items: flex-end;
    text-align: left;
    color: white;
    position: absolute;
    left: 175px;
    height: 38px;
    bottom: 35px;
    line-height: .7;
    font-size: 2em;
}

#title {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    white-space: nowrap;
}

#date {
    font-size: 0.5em;
}

#timing {
    font-size: 1.5em;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 34px;
    line-height: 0.7;
}

#audio-line {
    background-color: red;
    height: 5px;
    width: 100%;
    position: relative;
    top: 20px;
}

#tracker {
    display: block;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 136px;
    bottom: 10px;
    position: fixed;
}

@media (max-width:1350px) {


}